#main_theme{ background-color:#9F9595; text-align:center; }

#nav{ 	float:center; margin-right:55px; margin-bottom:18px; background:white;
		border-left: 1px solid #FFF; text-align: center;
		padding: 20px; padd
		width:100%;
		font-family: Arial,Helvetica,sans-serif;font-size:22px;
}
